<div class="container d-flex justify-content-center align-items-center my-5">
  <div class="login-box">
    <p>Sign up</p>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="user-box">
        <input formControlName="name" required="" name="name" type="text">
        <label>Full Name</label>
        <div
          *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)"
          class="text-danger mb-3">
          User name is required.
        </div>
      </div>
      <div class="user-box">
        <input formControlName="email" required="" name="email" type="text">
        <label>Email</label>
        <div
          *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
          class="text-danger mb-3">
          <div *ngIf="registerForm.controls['email'].errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="registerForm.controls['email'].errors?.['email']">
            Please enter a valid email.
          </div>
        </div>
      </div>
      <div class="user-box">
        <input formControlName="password" required="" name="password" type="password">
        <label>Password</label>
        <div
          *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
          class="text-danger mb-3">
          <div *ngIf="registerForm.controls['password'].errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="registerForm.controls['password'].errors?.['minlength']">
            Passwords must be at least 6 characters.
          </div>
          <div *ngIf="registerForm.controls['password'].errors?.['pattern']">
            Passwords must have at least one digit ('0'-'9'), one uppercase ('A'-'Z'), and one non-alphanumeric
            character.
          </div>
        </div>
      </div>
      <button type="submit" class="submit a mb-2" [disabled]="registerForm.invalid">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
    <p class="mb-4">Already have an account? <a routerLink="/login" class="a2">Login!</a></p>
  </div>
</div>