<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container d-flex justify-content-between">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="https://github.com/MR-M1CR0" target="_blank">
      <button class="b">
        <span>MAHFOUZ</span>
      </button>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse text-center" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 text-white">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}"><button class="cta">
              <span class="hover-underline-animation">Home</span>
            </button></a>
        </li>
        <li class="nav-item" *ngIf="authService.role == 'User' || authService.role == 'Admin'">
          <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active-link"><button class="cta">
              <span class="hover-underline-animation">Products</span>
            </button></a>
        </li>
        <li class="nav-item" *ngIf="authService.role == 'Admin'">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active-link"><button class="cta">
              <span class="hover-underline-animation">Dashboard</span>
            </button></a>
        </li>
      </ul>

      <div class="d-flex align-items-center justify-content-center">
        <span *ngIf="authService.isLoggedIn()" class="text text-light me-5">Welcome, {{ formattedUserName }}</span>
        <a *ngIf="!authService.isLoggedIn()" class="btn" role="button" [routerLink]="['/login']"
          routerLinkActive="active-btn">
          <button class="bt">
            <span class="text" routerLinkActive="">Login</span>
          </button>
        </a>
        <a *ngIf="!authService.isLoggedIn()" class="btn" role="button" [routerLink]="['/register']"
          routerLinkActive="active-btn">
          <button class="bt">
            <span class="text">Register</span>
          </button>
        </a>
        <a *ngIf="authService.isLoggedIn()" class="btn" role="button" (click)="logout()" routerLinkActive="active-btn">
          <button class="bt">
            <span class="text">Logout</span>
          </button>
        </a>
      </div>
    </div>
    <!-- Collapsible wrapper -->

  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->