<div class="d-flex justify-content-center align-items-center text-center bg-dark">
  <div class="ms-4">
    <h2 class="text-white">Let’s find your perfect car!</h2>
    <button class="mt-2" routerLink="/products">
      Products
      <div class="star-1">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-2">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-3">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-4">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-5">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-6">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
    </button>
  </div>

  <img class="home-img" src="./assets/images/home.png" alt="" />
</div>

<div class="bg-dark brand py-5">
  <div class="brand-slider">
    <img src="./assets/images/audi.png" alt="Audi" />
    <img src="./assets/images/bmw.png" alt="BMW" />
    <!-- <img src="./assets/images/ferrari.png" alt="Ferrari" /> -->
    <img src="./assets/images/ford.png" alt="Ford" />
    <img src="./assets/images/chevrolet.png" alt="Chevrolet" />
    <img src="./assets/images/mazda.png" alt="Mazda" />
    <img src="./assets/images/nissan.png" alt="Nissan" />
    <!-- <img src="./assets/images/fiat.png" alt="Fiat" /> -->
    <img src="./assets/images/mercedes.png" alt="Mercedes" />
    <img src="./assets/images/lexus.png" alt="Lexus" />
    <!-- <img class="mt-3" src="./assets/images/toyota.png" alt="Toyota" /> -->
    <img src="./assets/images/hyundai.png" alt="Hyundai" />
    <img src="./assets/images/volkswagen.png" alt="Volkswagen" />
    <img src="./assets/images/mitsubishi.png" alt="Mitsubishi" />
    <img src="./assets/images/opel.png" alt="Opel" />
    <img src="./assets/images/peugeot.png" alt="Peugeot" />

    <!-- Add more logos as needed -->
  </div>
</div>