<div class="d-flex justify-content-center align-items-center text-center bg-dark py-5 px-3">
  <div class="ms-4">
    <h2 class="text-white">Let’s find your perfect car!</h2>
    <button class="mt-2" routerLink="/products">
      Products
      <div class="star-1">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-2">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-3">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-4">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-5">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
      <div class="star-6">
        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
          style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
          viewBox="0 0 784.11 815.53" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="Layer_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer"></metadata>
            <path class="fil0"
              d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z">
            </path>
          </g>
        </svg>
      </div>
    </button>
  </div>

  <img class="home-img" src="./assets/images/img2.png" alt="" />
</div>

<div class="bg-dark brand py-4">

  <div class="slider" reverse="true" style="
              --width: 100px;
              --height: 100px;
              --quantity: 11;
          ">
    <div class="list">
      <div class="item" style="--position: 1"><img src="./assets/images/mitsubishi.png" alt=""></div>
      <div class="item" style="--position: 2"><img src="./assets/images/audi.png" alt=""></div>
      <div class="item" style="--position: 3"><img src="./assets/images/ford.png" alt=""></div>
      <div class="item" style="--position: 4"><img src="./assets/images/fiat.png" alt=""></div>
      <div class="item" style="--position: 5"><img src="./assets/images/mazda.png" alt=""></div>
      <div class="item" style="--position: 6"><img src="./assets/images/nissan.png" alt=""></div>
      <div class="item" style="--position: 7"><img src="./assets/images/mercedes.png" alt=""></div>
      <div class="item" style="--position: 8"><img src="./assets/images/opel.png" alt=""></div>
      <div class="item" style="--position: 9"><img src="./assets/images/peugeot.png" alt=""></div>
      <div class="item" style="--position: 10"><img src="./assets/images/bmw.png" alt=""></div>
      <div class="item" style="--position: 11"><img src="./assets/images/volkswagen.png" alt=""></div>
    </div>
  </div>
</div>