<body>
  <div class="contain container-star">
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
  </div>
  <div class="contain container-bird">
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="container-title">
      <div class="title">
        <div class="number">4</div>
        <div class="moon">
          <div class="face">
            <div class="mouth"></div>
            <div class="eyes">
              <div class="eye-left"></div>
              <div class="eye-right"></div>
            </div>
          </div>
        </div>
        <div class="number">4</div>
      </div>
      <div class="subtitle">Oops. Looks like you took a wrong turn!</div>
      <button class="button mt-4" routerLink="/">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
              </path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
              </path>
            </svg>
          </span>
        </div>
      </button>

    </div>
  </div>
</body>